<form action="/listapersonajes" method="post">
    {% csrf_token %}
    <p>
      Búsqueda de personajes: <input type="text" name="search" class="search" placeholder="Ingrese nombre"> 
      <input type="submit" value="Buscar">

    </p>
  </form>
  <form action="/">
    {% csrf_token %}
    <p>
      <button type="submit">Volver a pagina principal:</button>

    </p>
  </form>

<h3>Los detalles del episodio son:</h3>
<ul>
    <li>Serie: {{series}}</li>
    <li>Titulo: {{title}}</li>
    <li>Episodio: {{episode}}</li>
    <li>ID: {{episode_id}}</li>
    <li>Temporada: {{season}}</li>
    <li>Air-Date: {{air_date}}</li>
    <li>Personajes:</li>
    {% for personaje in characters %}
        <span><a href="/{{personaje}}"> {{personaje}}</a></span>
    {% endfor %}
</ul>
