<form action="/listapersonajes" method="post">
    {% csrf_token %}
    <p>
      Búsqueda de personajes: <input type="text" name="search" class="search" placeholder="Ingrese nombre"> 
      <input type="submit" value="Buscar">

    </p>
  </form>
  <form action="/">
    {% csrf_token %}
    <p>
      <button type="submit">Volver a pagina principal:</button>

    </p>
  </form>

<h3>Episodios de la temporada {{num_temporada}} de {{serie}}</h3>
<div>
    <ul>
    {% for episodio,id in lista_de_episodios %}
        <li><a href="/episodios/{{id}}"> {{episodio}}</a></li>
    {% endfor %}
</ul>
</div>

